:root {
  --font-main: 'Roboto', sans-serif;
  --color-main: #000000;
  --color-secondary: #8c8c8c;
  --color-footer: #545454;
  --color-accent: #ff6b08;
  --color-accent-link: rgba(255, 107, 8, 0.7);
}
