<footer class="footer">
  <div class="footer__section box">
    <!--  Адрес -->
    <div class="location">
      <div class="footer-left">
        <a class="footer__logo link" href="#">
          <p class="footer__logo-title" lang="en">Filmoteka</p>
        </a>
        <address class="address-in-footer">
          <ul class="footer-link-list list">
            <li>
              <a
                class="footer-address-point link"
                href="https://goo.gl/maps/SX4JufNEoRe89wzD7"
                target="_blank"
                rel="noopener noreferrer"
              >
                Kiev, Khreshchatyk st., 93
              </a>
            </li>
            <li>
              <a class="footer-mail link" href="mailto:info@example.com">info@filmoteka.com</a>
            </li>
            <li>
              <a class="footer-tel link" href="tel:+380991111111">+38 099 555 55 55</a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-right">
        <h2 class="footer-invite txt-footer">Contact us</h2>

        <ul class="footer-list">
          <li class="footer-list-item list">
            <a class="footer-list-link" href="#">
              <svg class="footer-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item list">
            <a class="footer-list-link" href="#">
              <svg class="footer-list-icon">
                <use href="./image/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item list">
            <a class="footer-list-link" href="#">
              <svg class="footer-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item list">
            <a class="footer-list-link" href="#">
              <svg class="footer-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="subscription"></div> -->
    <div class="footer__services">
      <h2 class="footer__title-services txt-footer">Unlimited movies, TV shows, and more.</h2>
      <p class="footer__title-description txt-footer">
        Download your shows to watch offline everywhere.
      </p>
      <p class="footer__title-description txt-footer">We are available on</p>

      <div class="app__container">
        <a
          href="https://play.google.com/store?hl=ru&gl=US"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer__app" width="40" height="40">
            <use href="./image/sprite.svg#icon-android"></use>
          </svg>
        </a>
        <a href="https://www.apple.com/ua/app-store/" target="_blank" rel="noopener noreferrer">
          <svg class="footer__app" width="40" height="40">
            <use href="./image/sprite.svg#icon-appleinc"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="footer__container">
    <p class="txt-footer">
      &copy; 2021 | All Rights Reserved | Developed with
      <svg id="heart" class="footer__heart" width="14" height="12">
        <use href="./image/sprite.svg#icon-vector"></use>
      </svg>
      by <a href="#" class="footer__link" data-modal-open>GoIT Student</a>
    </p>
  </div>
</footer>
