<footer class="footer">
  <div class="footer__services">
    <h2 class="txt-footer">Unlimited movies, TV shows, and more.</h2>
    <p class="txt-footer">Download your shows to watch offline everywhere...</p>
    <div class="app__container">
      <svg class="footer__app" width="40" height="40">
        <use href="./image/sprite.svg#icon-android"></use>
      </svg>
      <svg class="footer__app" width="40" height="40">
        <use href="./image/sprite.svg#icon-appleinc"></use>
      </svg>
    </div>
    <div class="footer__contacts">
      <h2 class="txt-footer">Contact us</h2>
    </div>
  </div>

  <div class="footer__container">
    <p class="txt-footer">
      &copy; 2021 | All Rights Reserved | Developed with
      <svg id="heart" class="footer__heart" width="14" height="12">
        <use href="./image/sprite.svg#icon-vector"></use>
      </svg>
      by <a href="#" class="footer__link" data-modal-open>GoIT Student</a>
    </p>
  </div>
</footer>
