<header class="header">
  <div class="header-container">

    <nav class="navigation">
      <div class="switch-box">
        <label class="switch">
          <input type="checkbox" id='checkbox' name="checkbox" checked>
          <div class="light-theme"></div>
          <div class="dark-theme is-hidden"></div>
          <span class="checkbox-background">
          </span>
        </label>
      </div>
      <a class="header__logo link" href="./">
        <svg class="logo__icon" width="24" height="24">
          <use href="./image/sprite.svg#icon-film"></use>
        </svg>
        <p class="logo__text">Filmoteka</p>
      </a>
      <ul class="list header__list">
        <li class="header-item"><a href="./index.html">
            <button id="home" class="header-navigation-link" type="button">Home</button></a>
        </li>
        <li class="header-item">
          <button id="my-library" class="header-navigation-link" type="button">my library</button>
        </li>
      </ul>
    </nav>
    <form id="search-form" action="submit" class="searchForm" is-hidden>
      <input type="text" class="searchForm__input" name="searchQuery" placeholder="Поиск фильмов" autocomplete="off" />
      <button type="submit" class="searchForm__button">
        <svg class="input__icon" width="12" height="12">
          <use href="./image/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <ul class="header-library__list is-hidden">
      <li class="header-library__item">
        <button type="button" class="header-library__button--watched button button--active">watched</button>
      </li>
      <li>
        <button type="button" class="header-library__button--queue button">queue</button>
      </li>
    </ul>
  </div>
</header>