<!-- Модальне вікно з командою -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="close-modal-window" data-modal-close>
      <svg class="close-modal-btn">
        <use href="./image/sprite.svg#icon-btnclose"></use>
      </svg>
    </button>
    <div class="container">
      <div class="card">
        <h2>Team leader</h2>
        <div class="img">
          <img src="./image/team/Yurii.jpg" alt="member" />
        </div>
        <div class="content">
          <p class="container__description">Юрій Цімура</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/tsimurayurii/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/Tsimura"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <!-- Залишив, на майбутнє -->
          <!-- <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li> -->
          <!-- <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li> -->
          <!-- Залишив, на майбутнє -->
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="mailto:tsimur@ukr.net"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Scrum Master</h2>
        <div class="img">
          <img src="./image/team/Iuliia.jpg" alt="member" />
        </div>
        <div class="content">
          <p class="container__description">Юлія Короткова</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/iuliia-korotkova/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/Korotkova-Iuliia"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="#"
              onclick="return false"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>JavaScript developer</h2>
        <div class="content">
          <div class="img">
            <img src="./image/team/Elena.jpg" alt="member" />
          </div>
          <p class="container__description">Олена Степанчук</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/elena-stepanchuk-9b7b29134"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/ElenaStepanchuk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="mailto:podolyak365@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>JavaScript developer</h2>
        <div class="content">
          <div class="img">
            <img src="./image/team/Max.jpg" alt="member" />
          </div>
          <p class="container__description">Максим Стельмах</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/maksstelmakh/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/MaksStelmakh"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="mailto:maks.stelmakh2019@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>JavaScript developer</h2>
        <div class="content">
          <div class="img">
            <img src="./image/team/Alina.jpg" alt="member" />
          </div>
          <p class="container__description">Аліна Михальчук</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/alina-vikulova-67b154188"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/AliVik"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="mailto:alvikul1994@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>JavaScript developer</h2>
        <div class="content">
          <div class="img">
            <img src="./image/team/Ed.jpg" alt="member" />
          </div>
          <p class="container__description">Едуард Заплотинський</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/eduard-zaplotynskyi-2b273782/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/messagetoedward"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="#"
              onclick="return false"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>JavaScript developer</h2>
        <div class="content">
          <div class="img">
            <img src="./image/team/Tatiana.jpg" alt="member" />
          </div>
          <p class="container__description">Тетяна Горбань</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/tetiana-horban-7b48a221b/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/Tetiana-Horban"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="mailto:tanya.ryptyk@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>JavaScript developer</h2>
        <div class="content">
          <div class="img">
            <img src="./image/team/Vlad.jpg" alt="member" />
          </div>
          <p class="container__description">Владислав Коваль</p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a
              class="social-list-link linkedin"
              href="https://www.linkedin.com/in/zamder-whormte-22b643216/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link github"
              href="https://github.com/Zamder13"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a
              class="social-list-link gmail"
              href="#"
              onclick="return false"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
