<button class="close-modal-window-btn" data-modal-card-close>
    <svg class="icon-close-modal">
        <use class="icon-close-modal-svg" href="./image/modal-window-card/symbol-defs.svg#icon-close-black">
        </use>
    </svg>
</button>




<!-- <section class="modal-window-section">
<div class="backdrop is-hidden" data-modal-card>
    <div class="film-card-modal-window">
    <button class="close-modal-window-btn" data-modal-card-close>
<svg class="icon-close-modal">
    <use class="icon-close-modal-svg" href="./image/modal-window-card/symbol-defs.svg#icon-close-black">
    </use>
</svg>
    </button>
<img class="film-exemple-photo" src="./image/modal-window-card/mobil-modal-card-photo.jpg" alt="#">
<div class="modal-window-signature">
<h2 class="film-title-modal-window">A FISTFUL OF LEAD</h2>
<div class="window-characteristics">
<ul class="modal-window-characteristics">
    <li class="modal-window-vote list">Vote&nbsp;/&nbsp;Votes</li>
    <li class="modal-window-popularity list">Popularity</li>
    <li class="modal-winwow-original-title list">Original Title</li>
    <li class="modal-window-gener list">Genre</li>
</ul>
<ul class="modal-window-characteristics-value">
    <li class="modal-window-vote-value list"><span class="modal-window-vote__span">7.3</span>/&nbsp;&nbsp;1260</li>
    <li class="modal-window-popularity-value list">100.2</li>
    <li class="modal-winwow-original-title-value list">A FISTFUL OF LEAD</li>
    <li class="modal-window-gener-value list">Western</li>
</ul>
</div>
<h3 class="modal-window-about">About</h3>
<p class="modal-window-description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
been double crossed – but by who and how?
</p>
<div class="btn-menu-module-card">
<button class="btn-watched-modal-window">add to Watched</button>
<button class="btn-queue-modal-window">add to queue</button>
</div>
</div>
</div>

</section> -->







<script src="js/modal_window__card.js" type="module"></script>

<!-- 1-й вариант модалки -->

<!-- <section class="modal-window-section"> -->
<!-- <div class="backdrop is-hidden" data-modal-card>
    <div class="film-card-modal-window"> -->
        <!-- <button class="close-modal-window-btn" data-modal-card-close>
            <svg class="icon-close-modal">
                <use class="icon-close-modal-svg" href="./image/modal-window-card/symbol-defs.svg#icon-close-black">
                </use>
            </svg>
        </button> -->
        <!--<img class="film-exemple-photo" src="https://image.tmdb.org/t/p/w500${poster_path}" alt="Photo film">
        <div class="modal-window-signature">
            <h2 class="film-title-modal-window">${title}</h2>
            <div class="window-characteristics">
                <ul class="modal-window-characteristics">
                    <li class="modal-window-vote list">Vote&nbsp;/&nbsp;Votes</li>
                    <li class="modal-window-popularity list">Popularity</li>
                    <li class="modal-winwow-original-title list">Original Title</li>
                    <li class="modal-window-gener list">Genre</li>
                    </ul>
                <ul class="modal-window-characteristics-value">
                    <li class="modal-window-vote-value list">
                        <span class="modal-window-vote__span">${vote_average}</span>/&nbsp;&nbsp;${vote_count}</li>
                    <li class="modal-window-popularity-value list">${popularity}</li>
                    <li class="modal-winwow-original-title-value list">${original_title}</li>
                    <li class="modal-window-gener-value list">${makeGenres(genre_ids)}</li>
                    </ul>
                </div>
            <h3 class="modal-window-about">About</h3>
            <p class="modal-window-description">${overview}</p>
            <div class="btn-menu-module-card">
                <button class="btn-watched-modal-window">add to Watched</button>
                <button class="btn-queue-modal-window">add to queue</button>
    </div>
    </div>
    </div> -->
    
    <!-- </section> -->

<!-- <script src="js/class-ip.js" type="module"></script> -->