<!-- Модальне вікно з командою -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="close-modal-window" data-modal-close>
      <svg class="close-modal-btn">
        <use href="./image/sprite.svg#icon-btnclose"></use>
      </svg>
    </button>
    <div class="container">
      <div class="card">
        <h2>Developer 1</h2>
        <div class="img">
          <img src="https://source.unsplash.com/random" alt="member" />
        </div>
        <div class="content">
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 2</h2>
        <div class="img">
          <img src="https://source.unsplash.com/random" alt="member" />
        </div>
        <div class="content">
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 3</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 4</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="#">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="#">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="#">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="#">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="#">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 5</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 6</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 7</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 8</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <h2>Developer 9</h2>
        <div class="content">
          <div class="img">
            <img src="https://source.unsplash.com/random" alt="member" />
          </div>
          <p class="container__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <ul class="social-list">
          <li class="social-list-item list">
            <a class="social-list-link linkedin" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link github" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link facebook" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link instagram" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item list">
            <a class="social-list-link gmail" href="">
              <svg class="social-list-icon">
                <use href="./image/sprite.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
