<div class="modal-window_card">
    <button class="modal-window_btn">Modal window for films cards</button>
</div>


<section class="modal-window-section">

    <div class="film-card-modal-window">
    <button class="close-modal-window-btn">
<svg>
    <use class="icon-close-modal" href="./image/sprite.svg#icon-close">
    </use>
</svg>
    </button>
<img class="film-exemple-photo" src="./image/modal-window-card/mobil-modal-card-photo.jpg" alt="#">
<div class="modal-window-signature">
<h2 class="film-title-modal-window">A FISTFUL OF LEAD</h2>
<p class="modal-window-vote">Vote / Votes <span class="modal-window-vote__span">7.3</span>/1260</p>
<p class="modal-window-popularity">Popularity<span class="modal-window-popularity__span">100.2</span></p>
<p class="modal-winwow-original-title">Original Title <span>A FISTFUL OF LEAD</span></p>
<p class="modal-window-gener">Genre Western</p>
<h3 class="modal-window-about">About</h3>
<p class="modal-window-description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
been double crossed – but by who and how?
</p>
<button class="btn-watched-modal-window">add to Watched</button>
<button class="btn-queue-modal-window">add to queue</button>
</div>
</div>
</section>
<!-- <div class="backdrop is-hidden" data-slider>
    <div class="more-photos-modal-window">
        <button class="button-prev">

            <svg class="button-prev-svg">
                <use class="icon-prev" href="./images/slider/symbol-slider.svg#icon-left-light">
                </use>
            </svg>
        </button>
        <button class="button-next">
            <svg class="button-next-svg">
                <use class="icon-next" href="./images/slider/symbol-slider.svg#icon-right-light">
                </use>
            </svg>
        </button>
        <button class="button-close-modal-slider" data-slider-close>
            <svg class="button-close-slider">
                <use class="icon-close-black" href="./images/slider/symbol-slider.svg#icon-close-black">
                </use>
            </svg>
        </button>

        <div class="more-photos__list_slider">
            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop1@2x.jpg"
                        alt="Фотографії 3Д моделей">
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop2@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop3@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop4@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop5@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop6@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop7@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>


            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop8@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop9@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>
            </div>

            <div class="more-photos__item_slider">
                <picture>
                    <img class="size-photo" src="./images/desktop/more-photos/desktop10@2x.jpg"
                        alt="Фотографії 3Д моделей" />
                </picture>

            </div>
        </div>




    </div>
</div> -->