<!-- варіант 1 -->
<div class="container">
  <div class="card">
    <h2>Developer</h2>
    <div class="img">
      <img src="https://source.unsplash.com/random" alt="member" />
    </div>
    <div class="content">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="img">
      <img src="https://source.unsplash.com/random" alt="member" />
    </div>
    <div class="content">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="card">
    <h2>Developer</h2>
    <div class="content">
      <div class="img">
        <img src="https://source.unsplash.com/random" alt="member" />
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
