  <nav class="container-pagination" aria-label="Best films">
      <ul id="pagination" class="pagination justify-content-center">
        <li class="">
          <a class="previous previous-off" href="#"></a>
            <div class="arrow">
              <p><i class="arrow left"></i></p>
              <p><i class="arrow left"></i></p>
              <p><i class="arrow left"></i></p></div
          ></a>
        </li>
        <li class=""><a class="active first pagination-number_black" href="#">1</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">2</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">3</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">4</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">5</a></li>
        <!-- <li class=""><a class="page-item pagination-number_black" href="#">6</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">7</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">8</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">9</a></li>
        <li class=""><a class="page-item pagination-number_black" href="#">10</a></li> -->
        <li class="">
          <a class="next" href="#"
            ><div class="arrow">
              <p><i class="arrow right"></i></p>
              <p><i class="arrow right"></i></p>
              <p><i class="arrow right"></i></p>
            </div>
          </a>
        </li>
      </ul>
    </nav>