.container-pagination {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .container-pagination {
    margin-bottom: 60px;
  }
}

.arrow {
  color: #f7f7f7;
  display: inline-flex;
}
i {
  border: solid black;
  border-width: 0 0.5px 0.5px 0;
  display: inline-block;
  padding: 2px;
  /* fill: var(--color-footer); */
  transition: border-width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
nav {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--color-main);
  font-weight: 400;
}
ul {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#pagination li {
  border: 0;
  margin: 0 5px;

  font-size: 20px;
  list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-pagination {
    color: var(--color-main);
    font-size: 12px;
    margin-bottom: 40px;
  }
}
#pagination a {
  margin-right: 2px;
}
#pagination a.previous-off,
#pagination a.next-off {
  color: #8c8c8c;
  background-color: #ffffff;
  border: none;

  font-weight: bold;
  padding: 3px 4px;
}
#pagination a.next,
#pagination a.previous {
  color: #545454;
  font-weight: bold;
  background-color: #ffffff;
  border: solid 1px #ffffff;
}
#pagination a.active {
  font-weight: bold;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
  padding: 13px 14px 11px 14px;
}
