.spinner {
  position: relative;
  width: 119px;
  height: 119px;
  margin-top: 20px;

  &__elem {
    position: absolute;
    width: 52px;
    height: 52px;
  }
  &__first-box {
    top: 5px;
    left: 5px;
    background-color: #000;
    animation: first 2000ms infinite 1000ms;
  }
  &__second-box {
    top: 5px;
    right: 5px;
    background-color: var(--color-accent);
    animation: second 2000ms infinite 1000ms;
  }
  &__third-box {
    bottom: 5px;
    left: 5px;
    background-color: var(--color-accent);
    animation: third 2000ms infinite 1000ms;
  }
  &__fourth-box {
    bottom: 5px;
    right: 5px;
    background-color: #000;
    animation: fourth 2000ms infinite 1000ms;
  }

  &::after {
    content: 'Loading...';
    position: absolute;
    color: var(--text-color);
    top: 100%;
    left: 25%;
    // animation: before 2000ms infinite 1000ms;
    animation: scaleBefore 2000ms infinite 1000ms;
  }
}

@keyframes first {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50%, 50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes second {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50%, 50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes third {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50%, -50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes fourth {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes before {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes scaleBefore {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1);
  }
}

.visible {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.invisible {
  display: none;
}
