// .spinner-container {
//   position: absolute;

//   top: 50%;
//   left: 50%;
//   translate: (-50%, -50%);

//   @media screen and (min-width: 320px) {
//     padding: 20px;
//     width: 320px;
//   }
//   @media screen and (min-width: 768px) {
//     padding-top: 60px;
//     padding-left: 76px;
//     padding-bottom: 60px;
//     padding-right: 76px;
//     width: 768px;
//   }
//   @media screen and (min-width: 1024px) {
//     padding-top: 60px;
//     padding-left: 71px;
//     padding-bottom: 60px;
//     padding-right: 71px;
//     width: 1024px;
//   }
// }

.spinner {
  position: absolute;
  z-index: 654125;

  width: 119px;
  height: 119px;
  margin: auto;
  @media screen and (max-width: 767px) {
    top: 25vh;
    left: 25vh;
    translate: (-25vh, -25vh);
  }
  @media screen and (min-width: 768px) {
    top: 50vh;
    left: 50vh;
    translate: (-50vh, -50vh);
  }

  &__elem {
    position: absolute;
    width: 52px;
    height: 52px;
  }
  &__first-box {
    top: 5px;
    left: 5px;
    background-color: #000;
    animation: first 2000ms infinite 1000ms;
  }
  &__second-box {
    top: 5px;
    right: 5px;
    background-color: var(--color-accent);
    animation: second 2000ms infinite 1000ms;
  }
  &__third-box {
    bottom: 5px;
    left: 5px;
    background-color: var(--color-accent);
    animation: third 2000ms infinite 1000ms;
  }
  &__fourth-box {
    bottom: 5px;
    right: 5px;
    background-color: #000;
    animation: fourth 2000ms infinite 1000ms;
  }
}

@keyframes first {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50%, 50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes second {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50%, 50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes third {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50%, -50%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes fourth {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}
