// /* STYLES FOR CHECKBOX  */

.switch-box {
  position: absolute;
  z-index: 0;
  top: 20px;
  right: 0;
}
.switch {
  cursor: pointer;
  position: relative;
  display: flex;

  @media screen and (max-width: 767px) {
    width: 40px;
    height: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 70px;
    height: 35px;
  }

  margin: auto;
  padding: 5px;
  text-align: center;
}
#range {
  margin: 0;
  width: 100%;
  height: 100%;
}

#checkbox {
  display: none;
}

.checkbox-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
}

.dark-bg {
  background-image: linear-gradient(90deg, #d6d6f0, #191970);
}
.light-bg {
  background-image: linear-gradient(90deg, #e25c03, #ecf008);
}
// /* STYLES FOR ICONS  */
.light-theme {
  @media screen and (max-width: 767px) {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  border-radius: 50%;
  align-self: center;
  justify-content: flex-start;

  background-image: url('.././image/theme-switcher/sun.webp');
  background-size: 80%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  transition: opacity 1000ms linear;
}

.dark-theme {
  @media screen and (max-width: 767px) {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  border-radius: 50%;
  align-self: center;
  margin-left: auto;

  background-image: url('.././image/theme-switcher/moon.webp');
  background-size: 80%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  transition: opacity 1000ms linear;
}

// :root {
//   --font-main: 'Roboto', sans-serif;
//   --color-main: #000000;
//   --color-secondary: #8c8c8c;
//   --color-footer: #545454;
//   --color-back-pagination: #f7f7f7;
//   --color-accent: #ff6b08;
//   --color-accent-link: rgba(255, 107, 8, 0.7);
//   --white-color: #fff;
//   --dark-theme-modal-button-background: rgb(17, 17, 26);
//   --dark-theme-modal-button-fill: #ff6b01;
// }

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--color-main);
    --footer-background-color: var(--color-back-pagination);
    --footer-text-color: var(--color-footer);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--white-color);
    --footer-background-color: var(--color-main);
    --footer-text-color: var(--white-color);
  }
}

body[data-theme='light'] {
  background-color: var(--white-color);
  --text-color: var(--color-main);
  --footer-background-color: var(--color-back-pagination);
  --footer-text-color: var(--color-footer);
}
body[data-theme='light'] .checkbox-background {
  background-image: linear-gradient(90deg, #e25c03, #ecf008);
}
body[data-theme='dark'] {
  background-image: linear-gradient(0deg, rgb(101, 21, 139) 25%, rgb(17, 17, 26) 73%);
  --text-color: var(--white-color);
  --footer-background-color: var(--color-main);
  --footer-text-color: var(--white-color);
}
body[data-theme='dark'] .checkbox-background {
  background-image: linear-gradient(90deg, #d6d6f0, #191970);
}
body[data-theme='dark'] .film-card-modal-window {
  background-image: linear-gradient(0deg, rgb(101, 21, 139) 25%, rgb(17, 17, 26) 73%);
}

body[data-theme='dark'] .close-modal-window-btn {
  background-color: rgb(17, 17, 26);
}
body[data-theme='dark'] .icon-close-modal {
  fill: var(--dark-theme-modal-button-fill);
}
body[data-theme='dark'] .tui-page-btn:hover,
body[data-theme='dark'] .tui-page-btn:focus {
  background-color: var(--color-accent);
  border-radius: 5px;
}
