/* STYLES FOR CHECKBOX  */

.switch-box {
  position: absolute;
  z-index: 546456;
  top: 20px;
  right: 0;
}
.switch {
  position: relative;
  display: flex;

  @media screen and (max-width: 767px) {
    width: 40px;
    height: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 70px;
    height: 35px;
  }

  margin: auto;
  padding: 5px;
  text-align: center;
}
#range {
  margin: 0;
  width: 100%;
  height: 100%;
}

#checkbox {
  display: none;
}
#checkbox:checked ~ .checkbox-background {
  background-image: linear-gradient(90deg, #e25c03, #ecf008);
}
.checkbox-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(90deg, #d6d6f0, #191970);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
}

/* STYLES FOR ICONS  */
.light-theme {
  @media screen and (max-width: 767px) {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  border-radius: 50%;
  align-self: center;
  justify-content: flex-start;

  background-image: url('.././image/theme-switcher/sun.webp');
  background-size: 80%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  transition: opacity 1000ms linear;
}

.dark-theme {
  @media screen and (max-width: 767px) {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  border-radius: 50%;
  align-self: center;
  margin-left: auto;

  background-image: url('.././image/theme-switcher/moon.webp');
  background-size: 80%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  transition: opacity 1000ms linear;
}
