.module {
  width: 882px;
  background: white;
  position: relative;
}

.basicLightbox {
  display: block;
  z-index: 10;
}

// modal window for cards
.modal-window-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-color: white;
}

.btn-modal-window_card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
// Пересмотреть марджины
.film-exemple-photo {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    width: 240px;
    height: 357px;
  }
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
  }
  @media screen and (min-width: 1024px) {
    // width: 396px;
    // height: 478px;
  }
}

.film-card-modal-window {
  display: flex;
  position: absolute;

  height: 100vp;
  background: white;

  border: transparent;
  left: 50%;
  transform: translate(-50%);
  overflow-y: auto;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    width: 280px;
    height: 550px;
    padding: 48px 20px 41px 20px;
    top: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 618px;
    height: 500px;
    padding: 42px 30px 40px 30px;
    top: 130px;
  }
  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 800px;
    padding: 50px 30px 40px 30px;
    top: 70px;
  }
}

.youtube {
  margin-top: 50px;
  padding-bottom: 20px;
  width: 240px;
  @media screen and (min-width: 768px) {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: 1024px) {
    width: 800px;
    height: 500px;
    top: 440px;
  }
}

.close-modal-window-btn {
  // position: absolute;
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: rgb(255, 255, 255, 0);
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  z-index: 20;
}
.icon-close-modal {
  cursor: pointer;
  // color: black;
  fill: white;
  width: 30px;
  height: 30px;
}

.film-title-modal-window {
  font-family: Roboto;
  font-style: 500;
  text-transform: uppercase;
  text-align: left;
  color: var(--text-color);
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal-window-signature {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}
.window-characteristics {
  margin-top: 20px;
  display: flex;
  font-family: Roboto;
  font-style: 500;
}
.modal-window-characteristics {
  margin-bottom: 20px;
  font-family: Roboto;
  width: 110px;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
}
.modal-window-vote,
.modal-winwow-original-title,
.modal-window-popularity {
  margin-bottom: 10px;
}

.modal-window-characteristics-value {
  margin-bottom: 20px;
  font-family: Roboto;
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
}
.modal-window-vote__span {
  background-color: #ff6b01;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
  color: white;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
}
.modal-window-vote-value,
.modal-window-popularity-value {
  margin-bottom: 13px;
}
.modal-winwow-original-title-value {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal-window-about {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal-window-description {
  font-family: Roboto;
  width: 240px;
  // height: 240px;
  font-size: 12px;
  line-height: 1.66;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 20px;
  overflow-y: auto;
  @media screen and (max-width: 767px) {
    width: 240px;
    max-height: 240px;
  }
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 528px;
    // min-height: 160px;
    max-height: 160px;
  }
}
.btn-menu-module-card {
  display: flex;
  width: 100%;
}
.btn-watched-modal-window {
  background-color: white;
  border-radius: 5px;
  border: solid 1px #000000;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  @media screen and (max-width: 767px) {
    padding-left: 8px;
    padding-right: 8px;
    width: 113px;
    // height: 44px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 9px;
    padding-right: 9px;
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 10px;
    padding-right: 10px;
    width: 136px;
  }
}
.btn-queue-modal-window {
  background-color: white;
  border-radius: 5px;
  border: solid 1px #000000;
  text-transform: uppercase;
  padding: 14px 8px 12px 8px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    width: 113px;
    // height: 44px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    padding-left: 9px;
    padding-right: 9px;
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 136px;
  }
}
.btn-queue-modal-window:hover {
  border: none;
  cursor: pointer;
  background-color: #ff6b01;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
.btn-watched-modal-window:hover {
  border: none;
  cursor: pointer;
  background-color: #ff6b01;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
