// modal window for cards
.modal-window-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-color: white;
}

.modal-window_card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.film-exemple-photo {
  display: block;
  @media screen and (max-width: 767px) {
    width: 240px;
    height: 357px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
    margin-bottom: 30px;
  }
  // @media screen and (min-width: 1444px) {
  //   max-width: 882px;
  // }
}

.film-card-modal-window {
  display: flex;
  position: absolute;

  height: 100vp;
  // border: solid 1px black;
  background: white;

  border: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // overflow-y: auto;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    width: 280px;
    padding: 48px 20px 41px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    min-width: 618px;
    padding: 42px 30px 40px 30px;
    margin-top: 230px;
    margin-bottom: 230px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 882px;
  }
}

.close-modal-window-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}
.icon-close-modal {
  color: black;
  width: 30px;
  height: 30px;
}

.film-title-modal-window {
  font-family: Roboto;
  font-style: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
  color: #000000;
}

.modal-window-signature {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 882px;
  }
}
.window-characteristics {
  margin-top: 20px;
  display: flex;
  font-family: Roboto;
  font-style: 500;
}
.modal-window-characteristics {
  margin-bottom: 20px;
  font-family: Roboto;
  width: 110px;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
}
.modal-window-vote,
.modal-winwow-original-title,
.modal-window-popularity {
  margin-bottom: 10px;
}

.modal-window-characteristics-value {
  margin-bottom: 20px;
  font-family: Roboto;
  color: #000000;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
}
.modal-window-vote__span {
  background-color: #ff6b01;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
  color: white;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
}
.modal-window-vote-value,
.modal-window-popularity-value {
  margin-bottom: 13px;
}
.modal-winwow-original-title-value {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal-window-about {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal-window-description {
  font-family: Roboto;
  width: 240px;
  height: auto;
  font-size: 12px;
  line-height: 1.66;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.btn-watched-modal-window {
  width: 112px;
  min-height: 44px;
  background-color: #ff6b01;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
}
.btn-queue-modal-window {
  width: 112px;
  min-height: 44px;
  border-radius: 5px;
  border: solid 1px #000000;
  text-transform: uppercase;
  padding: 14px 8px 12px 8px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  margin-left: auto;
}
