// modal window for cards
.modal-window-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-color: white;
}

.modal-window_card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.film-exemple-photo {
  display: block;
  width: 240px;
  height: 357px;
  margin-bottom: 30px;
}

.film-card-modal-window {
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  height: 100%;
  // border: solid 1px black;
  background: white;
  padding: 48px 20px 41px 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  border: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // overflow-y: auto;
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
  @media screen and (min-width: 768px) {
    max-width: 618px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 882px;
  }
}

.close-modal-window-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}
.icon-close-modal {
  color: black;
  width: 30px;
  height: 30px;
}
// .icon-close-modal-svg {
// text-align: center;
// margin: auto;
// }
.modal-window-signature {
  display: flex;
  flex-wrap: wrap;
}
.film-title-modal-window {
  margin-bottom: 20px;
}
.window-characteristics {
  display: flex;
}
.modal-window-characteristics {
  margin-bottom: 20px;
}
.modal-window-vote {
  margin-bottom: 10px;
}
.modal-window-vote__span {
  width: 36px;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 1px 10px;
}
.modal-window-popularity {
  margin-bottom: 10px;
}
.modal-window-characteristics-value {
  margin-left: 40px;
  margin-bottom: 10px;
}
.btn-watched-modal-window {
  width: 113px;
  min-height: 44;
  background-color: #ff6b01;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
.btn-queue-modal-window {
  width: 113px;
  min-height: 44;
  border-radius: 5px;
  border: solid 1px #000000;
  text-transform: uppercase;
  margin-left: auto;
}
